<p id="notice"><%= notice %></p>

<h1>Teammates</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th>About</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teammates.each do |teammate| %>
      <tr>
        <td><%= teammate.name %></td>
        <td><%= teammate.role %></td>
        <td><%= teammate.about %></td>
        <td><%= link_to 'Show', teammate %></td>
        <td><%= link_to 'Edit', edit_teammate_path(teammate) %></td>
        <td><%= link_to 'Destroy', teammate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Teammate', new_teammate_path %>
