<p id="notice"><%= notice %></p>

<%= link_to 'New Teammate', new_teammate_path %>

<main role="main">
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <% @teammates.each do |teammate| %>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <%= image_tag(teammate.photo_url.to_s, class: "card-img-top") %>
              <div class="card-body">
                <p><%= teammate.name %></p>
                <p><%= teammate.role %></p>
                <p class="card-text"><td><%= teammate.about %></td></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button> -->
                    <%= link_to 'View', teammate, class: "btn btn-sm btn-outline-secondary" %>
                    <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                    <%= link_to 'Edit', edit_teammate_path(teammate), class: "btn btn-sm btn-outline-secondary" %>
                    <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Destroy</button> -->
                    <td><%= link_to 'Destroy', teammate, method: :delete, class: "btn btn-sm btn-outline-secondary", data: { confirm: 'Are you sure?' } %></td>
                  </div>
                </div>
              </div>
            </div>
          </div>
       
        <% end %>
      </div>
    </div>
  </div>
</main>

